{% for cat in pricingPlanCategories %}
    {% if cat.plans.count() %}
        <!-- pricing -->
        <div class="section pricingPlanCategorySection">
            <div class="container">
                <div class="row">
                    <!-- section title -->
                    <div class="col-12 mb-3">
                        <h2 class="section__title">{{ cat.name }}</h2>
                    </div>
                    <!-- end section title -->
                    
                    {% for plan in cat.plans %}
                        {% if plan.enabled %}
                        
                            {% if app.user %}
                                {% set currentPlan  = plan.hasActiveSubscription( subscriptions ) %}
                                {% set planLower    = false %}
                            {% else %}
                                {% set currentPlan  = null %}
                                {% set planLower    = false %}
                            {% endif %}
                            
                            <!-- price -->
                            <div class="col-12 col-md-6 col-lg-4 order-md-2 order-lg-1">
                                <div
                                    class="plan{% if currentPlan or planLower %} plan--active{% endif %}{% if plan.premium %} plan--premium{% endif %} plan--mt0"
                                >
                                    <h3 class="plan__title">{{ plan.title }}</h3>
                                    <span class="plan__price">
                                        {{ plan.price }} {{ plan.currencyCode | vs_currency_symbol }}
                                    </span>
                                    <div class="plan__list">{{ plan.description | raw }}</div>
                                    
                                    {% if app.user %}
                                        {% if currentPlan %}
                                            <button type="button" class="plan__btn">
                                                <span>{{ 'vs_payment.template.pricing_plans.current_plan' | trans( {},'VSPaymentBundle' ) }}</span>
                                            </button>
                                        {% elseif planLower %}
                                            <button type="button" class="plan__btn">
                                                <span>{{ 'vs_vvp.template.pricing_plans.lower_than_active' | trans( {},'VanzVideoPlayer' ) }}</span>
                                            </button>
                                        {% else %}
                                            <button type="button"
                                                class="plan__btn btnChoosePlan"
                                                data-url="{{ path( 'vs_payment_select_pricing_plan_form', {'pricingPlanId': plan.id} ) }}"
                                            >
                                                <span>{{ 'vs_payment.template.pricing_plans.choose_plan' | trans( {},'VSPaymentBundle' ) }}</span>
                                            </button>
                                        {% endif %}
                                    {% else %}
                                        <button type="button"
                                            class="plan__btn btnRgister"
                                            data-url="{{ path( 'vs_users_register_form' ) }}"
                                        >
                                            <span>{{ 'vs_vvp.template.pricing_plans.register' | trans( {},'VanzVideoPlayer' ) }}</span>
                                        </button>
                                    {% endif %}
                                    
                                </div>
                            </div>
                            <!-- end price -->
                        {% endif %}
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <!-- end pricing -->
    {% endif %}
{% endfor %}
