{% extends 'base.html.twig' %} 

{% block content %}
	<!-- ============================================================== -->
    <!-- signup page  -->
    <!-- ============================================================== -->
    <div class="tablatures-container" style="margin-top: 110px">
        <div class="card card-registration-form">
            <div class="card-header">
                <h3 class="mb-1">Registrations Form</h3>
                <p>Please enter your user information.</p>
            </div>
            <div class="card-body">
               
                {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'registration-form'} }) }}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token( 'registration' ) }}" />
                    
                    {% if form_errors( form ) is not empty %}
                        <div class="alert alert-block alert-danger fade in">
                            <button type="button" class="close close-sm" data-bs-dismiss="alert">
                                <i class="icon-remove"></i>
                            </button>
                            <strong>Error!</strong> {{ form_errors( form ) }}
                        </div>
                    {% endif %}
                    
                    <div class="form-group">               
                        {{ form_widget(form.username, {'attr': {'class': 'form-control form-control-lg'}}) }}
                    </div>
                    <div class="form-group">               
                        {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-lg'}}) }}
                    </div>
                    <div class="input-group mb-3">               
                        {{ form_widget(form.plain_password.first, {'attr': {'class': 'form-control form-control-lg'}}) }}
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" id="btnGeneratePasswordRegisterForm">{{ 'vs_users.form.generate_password' | trans( {},'VSUsersBundle' ) }}</button>
                        </div>
                    </div>
                    <div class="form-group">               
                        {{ form_widget(form.plain_password.second, {'attr': {'class': 'form-control form-control-lg'}}) }}
                    </div>
                    <div class="form-group pt-2">
                        <button class="btn btn-block btn-primary" type="submit">Register My Account</button>
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" />
                            <span class="custom-control-label">
                                By creating an account, you agree the 
                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#terms-and-conditions-modal">terms and conditions</a>
                            </span>
                        </label>
                    </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block widgets %}    
    {% include 'Modal/terms_and_conditions.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'authentication', null, 'WebGuitarPro_VueJs' ) }}
{% endblock %}  

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'authentication', null, 'WebGuitarPro_VueJs' ) }}
{% endblock %}
