{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_wgp.template.latest_tablatures' | trans( {},'WebGuitarPro' ) }}{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {{ 'vs_wgp.template.latest_tablatures' | trans( {},'WebGuitarPro' ) }}{% endblock %}

{% block content %}
    <div class="tablatures-container" style="margin: 110px">
        <div class="card">
            <h5 class="card-header">{{ pageAbout.title }}</h5>
            <div class="card-body">
                {{ pageAbout.text | raw  }}
            </div>
        </div>
    </div>
{% endblock %}

