{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_wgp.template.tablatures' | trans( {},'WebGuitarPro' ) }} :: {{ item.artist }} - {{ item.song }}{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {{ 'vs_wgp.template.tablatures' | trans( {},'WebGuitarPro' ) }} :: {{ item.artist }} - {{ item.song }}{% endblock %}

{% block content %}
    <div id="tablaturePlayer" class="row" style="margin-top: 20px">
        <app-player></app-player>
    
        <div id="messages">
            {% if error %}
                <div>{{ error.messageKey|trans( error.messageData, 'security' ) }}</div>
            {% endif %}
        </div>
        
        <div id="tablatureWrapper">
        
            <div id="song-details" data-user={% if app.user %}{{ app.user.id }}{% else %}0{% endif %}>
                <h1 class="artist"></h1>
                <h2 class="title"></h2>
                <h3 class="album"></h3>
            </div>
            
            <div id="alphaTab"
                data-file="{{ path( 'tablature_read', {id: item.id} ) }}"
                data-user="{% if app.user %}true{% else %}false{%  endif %}"
                data-add-favorite-url="{{ path( 'tablature_favorite', {id: item.id} ) }}"
                data-use-cdn="{{ alphatabUseCdn }}"
            ></div>
            
        </div>
    </div>
{% endblock %}

{% block header %}{% endblock %}
{% block copyright %}
      {% include 'Layout/bottom-player.html.twig' %}
{% endblock %}

{% block widgets %}
    {% include 'Modal/tab_info.html.twig' %}
{% endblock %}

{% block svg %}
    {% include 'Partial/tablature-player-svg.html.twig' %}
{% endblock %}

{% block head_styles %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/tablature-player', null, 'WebGuitarPro_VelzonSaas' ) }}
{% endblock %}

{% block head_scripts %}
    {{ parent() }}
    
    {% if alphatabUseCdn == 'true' %}
        {#  #}
        <script src="https://cdn.jsdelivr.net/npm/@coderline/alphatab@{{ alphatabUseVersion }}/dist/alphaTab.min.js"></script>
        
    {% endif %}
{% endblock %}
        
{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/tablature-player', null, 'WebGuitarPro_VelzonSaas' ) }}
{% endblock %}
