{% import "@VSApplication/Macros/form.html.twig" as vs_form %}

<h3>{{ 'vs_users.template.profile_change_password_header' | trans( {},'VSUsersBundle' ) }}</h3>
<section class="panel">
    <div class="panel-body bio-graph-info">
		{{ form_start(f, { 'attr': {'class': 'form-horizontal '} }) }}
            <div class="form-group">
                {{ form_label(f.oldPassword, null, {
                    'label_attr': {'class': 'col-form-label'}
                    }) 
                }}
                {{ form_widget(f.oldPassword, {'attr': {'class': 'form-control' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(f.password.first, null, {
                    'label_attr': {'class': 'col-form-label'}
                    }) 
                }}
                <div class="input-group mb-3">
                    {{ form_widget(f.password.first, {'attr': {'class': 'form-control'}}) }}
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" id="btnGeneratePassword">{{ 'vs_users.form.generate_password' | trans( {},'VSUsersBundle' ) }}</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(f.password.second, null, {
                    'label_attr': {'class': 'col-form-label'}
                    }) 
                }}
                {{ form_widget(f.password.second, {'attr': {'class': 'form-control' }}) }}
            </div>
            
            <div class="row">&nbsp;</div>
            <div class="input-group row vsFormButtonsGroup">
                <div class="col-sm-2">
                    {{ form_widget(f.btnSave, {'attr': {'class': 'btn btn-primary', 'id':'btnSave'}}) }}
                </div>
                <div class="col-sm-2">
                    {{ form_widget(f.btnCancel, {'attr': {'class': 'btn btn-default', 'id':'btnCancel'}}) }}
                </div>
                <div class="col-sm-6"></div>
            </div>
        {{ form_end(f, {'render_rest': false}) }}
    </div>
</section>

