{% import "@VSApplication/Macros/form.html.twig" as vs_form %}

<h3>{{ 'vs_users.template.profile_details_header' | trans( {},'VSUsersBundle' ) }}</h3>
<section class="panel">                                          
    <div class="panel-body bio-graph-info">        
        {{ form_start(form, { 'attr': {'class': 'form-horizontal profile_details_form'} }) }}
            
            <div class="form-group">
                {% if app.user.info.avatar %}
                    <img src="{{ app.user.info.avatar.path|imagine_filter('profile_form_thumb') }}" style="width: 120px; height: 100px; border: 2px solid #000000;" />
                {% else %}
                    <img src="{{ asset( 'build/web-content-thief/images/avatar-1.jpg' ) }}" alt="" class="user-avatar-md rounded-circle" />
                {% endif %}
                
                <div class="custom-file mb-4">
                    {{ form_label(form.profilePicture, null, {
                        'label_attr': {'class': 'col-form-label'}
                        }) 
                    }}
                    {{ form_widget(form.profilePicture, {'attr': {'class': 'custom-file-input' }}) }}
                    <span class="custom-file-control form-control-file"></span>
                </div>
            </div>
 
            <div class="form-group">
                {{ form_label(form.prefered_locale, null, {
                    'label_attr': {'class': 'col-form-label'}
                    }) 
                }}
                {{ form_widget(form.prefered_locale, {'attr': {'class': 'form-control' }}) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.firstName, null, {
                    'label_attr': {'class': 'col-form-label'}
                    }) 
                }}
                {{ form_widget(form.firstName, {'attr': {'class': 'form-control' }, 'value': app.user.info.firstName}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.lastName, null, {
                    'label_attr': {'class': 'col-form-label'}
                    }) 
                }}
                {{ form_widget(form.lastName, {'attr': {'class': 'form-control' }, 'value': app.user.info.lastName}) }}
            </div>
            
            {{ vs_form.buttons( form ) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
</section>
