{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_application.template.contact_page.visit_us' | trans( {},'VSApplicationBundle' ) }}{% endblock %}
{% block pageTitle %}{{ 'vs_application.template.contact_page.visit_us' | trans( {},'VSApplicationBundle' ) }}{% endblock %}

{% block content %}
	<div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card">
            
            
            
            	<div class="bg-warning-subtle position-relative">
                    <div class="card-body p-5">
                        <div class="text-center">
                            <h3>{{ 'vs_application.template.contact_page.visit_us' | trans( {},'VSApplicationBundle' ) }}</h3>
                            {#<p class="mb-0 text-muted">Last update: 16 Sept, 2022</p>#}
                        </div>
                    </div>
                    <div class="shape">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="1440" height="60" preserveAspectRatio="none" viewBox="0 0 1440 60">
                            <g mask="url(&quot;#SvgjsMask1001&quot;)" fill="none">
                                <path d="M 0,4 C 144,13 432,48 720,49 C 1008,50 1296,17 1440,9L1440 60L0 60z" style="fill: var(--vz-secondary-bg);"></path>
                            </g>
                            <defs>
                                <mask id="SvgjsMask1001">
                                    <rect width="1440" height="60" fill="#ffffff"></rect>
                                </mask>
                            </defs>
                        </svg>
                    </div>
                </div>
            	
        		<div class="card-body p-4">
        
                    <div class="row">
                        <div class="col-12 col-lg-5 col-xl-4">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="section__title">{{ 'vs_application.template.contact_page.contact_details' | trans( {},'VSApplicationBundle' ) }}</h2>
                
                                    <p class="section__text">
                                        {{ 'vs_application.template.contact_page.contact_text' | trans( {},'VSApplicationBundle' ) }}
                                    </p>
                
                                    <div class="list-group list-group-fill-success">
                                    {% if showPhone %}
                                        <a class="list-group-item list-group-item-action" href="tel:88002345678">
                                        	<i class="ri-phone-line"></i>	
                                        	+359 876 764 428
                                        </a>
                                    {% endif %}
                                        <a class="list-group-item list-group-item-action" href="mailto:{{ contactEmail }}">
                                        	<i class="ri-mail-line"></i>
                                            {{ contactEmail }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12 col-lg-6 offset-lg-1 col-xl-7">
                            <div class="row">
                                <div class="col-12">
                                    <!-- contact form -->
                                    {{ form_start(form, { 'attr': {'class': ''} }) }}
                                        {{ form_widget(form._token) }}
                                        <div class="row">
                                            <div class="col-12 col-xl-6">
                                                <div class="mb-3">
                                                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                
                                            <div class="col-12 col-xl-6">
                                                <div class="mb-3">
                                                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': '6'}}) }}
                                                </div>
                                            </div>
                
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-secondary w-sm">
                                                    <span>{{ 'vs_application.form.website_contact.submit' | trans( {},'VSApplicationBundle' ) }}</span>
                                                </button>
                                            </div>
                                        </div>
                                    {{ form_end(form, {'render_rest': false}) }}
                                    <!-- end contact form -->
                                </div>
                            </div>
                        </div>
                    </div>
        
        		</div>
        	</div>
        </div>
    </div>
{% endblock %}