<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="index.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="{{ asset( 'build/web-guitar-pro-velzon-saas/images/guitarpro.png' ) }}"
                    alt=""
                    height="22"
                >
            </span>
            <span class="logo-lg">
                <img src="{{ asset( 'build/web-guitar-pro-velzon-saas/images/guitarpro.png' ) }}"
                    alt=""
                    height="17"
                >
            </span>
        </a>
        <!-- Light Logo-->
        <a href="index.html" class="logo logo-light">
            <span class="logo-sm">
                <img src="{{ asset( 'build/web-guitar-pro-velzon-saas/images/guitarpro.png' ) }}"
                    alt=""
                    height="22"
                >
            </span>
            <span class="logo-lg">
                <img src="{{ asset( 'build/web-guitar-pro-velzon-saas/images/guitarpro.png' ) }}"
                    alt=""
                    height="17"
                >
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            
            {{ knp_menu_render('mainWebGuitarPro', {'template': 'Menu/main-menu.html.twig'}) }}
            
        </div>
    </div>
</div>