<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <div class="sidebar-header">
            <a href="{{ path( 'app_home' ) }}">
                <img src="{{ asset( 'build/web-guitar-pro-vuejs/images/logo.png' ) }}" width="50" height="50" />
            </a>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
            
            {% if app_environment == 'dev' %}
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="btnDemoPages" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Demo Pages</a>
                    <div class="dropdown-menu dropdown-menu-right scrollable-menu" aria-labelledby="btnDemoPages">
                        <!-- Demo Pages list -->
                        <div class="sm-main-nav" >
                            <a class="dropdown-item" href="{{ path( 'demo_pages_alphatab' ) }}">Alphatab Demo</a><hr>
                        </div>
                    </div>
                </li>
            {% endif %}
            
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path( 'vs_wgp_tablature_index' ) }}">My Tablatures</a>
                </li>
                
                {% if app.user.favorites|length > 0 %}
                    <li class="nav-item dropdown btn-group">
                        <a class="nav-link dropdown-toggle" id="btnFavorites" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Favorites</a>
                        <div class="dropdown-menu dropdown-menu-right scrollable-menu" aria-labelledby="btnFavorites">
                            <!-- Favorite tabs list -->
                            <div class="sm-main-nav" >
                                {% for tab in app.user.favorites %}
                                    <a class="dropdown-item" href="{{ path( 'vs_wgp_tablature_show', {'id': tab.id} ) }}">{{ tab.artist }} - {{ tab.song }}</a><hr>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                {% endif %}
                
                <!--  Create Tablature Category  -->
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Create Tablature Category</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% include 'Partial/tablature-category-form.html.twig' %}
                    </div>
                </li>
                <!--/  Create Tablature Category  -->
                
                <!--  Submit Tablature  -->
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Submit Tablature</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% include 'Partial/tablature-form.html.twig' %}
                    </div>
                </li>
                <!--/  Submit Tablature  -->
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ path( 'app_logout' ) }}">Logout</a>
                </li>
            {% else %}
                <!--  User Login  -->
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% include 'Partial/login-form.html.twig' %}
                    </div>
                </li>
                <!--/ User Login  -->
            {% endif %}
            </ul>
        </div>
    </div>
</nav>
