{% extends "base.html.twig" %}

{% block head_styles %}
	{{ parent() }}
	
	<style>
		.text-secondary {
		    color: #ff407b !important;
		}
	</style>
{% endblock %}

{% block content %}
	<!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="tablatures-container" style="margin-top: 110px">
        <div class="card card-registration-form">
            <div class="card-header text-center">
            	<h3 class="mb-1">{{ 'vs_users.template.profile_show_tab_change_password' | trans( {},'VSUsersBundle' ) }}</h3>
            </div>
            <div class="card-body">
                <form class="login-form" action="{{ path('vs_users_forgot_password_reset', {token: token}) }}" method="post">
                	<input type="hidden" name="_csrf_token" value="{{ csrf_token('change_password') }}" />
                    
                    <p>{{ 'vs_users.form.resetting.new_password_lable' | trans( {},'VSUsersBundle' ) }}</p>
                    <div class="form-group">
                        <input
                        	class="form-control form-control-lg"
                        	type="password"
                        	name="password"
                        	required="true"
                        	placeholder="{{ 'vs_users.form.resetting.new_password_placeholder_pasword' | trans( {},'VSUsersBundle' ) }}"
                        	autocomplete="off"
                        />
                    </div>
                    <div class="form-group">
                        <input
                        	class="form-control form-control-lg"
                        	type="password"
                        	name="password_confirm"
                        	required="true"
                        	placeholder="{{ 'vs_users.form.resetting.new_password_placeholder_confirm_pasword' | trans( {},'VSUsersBundle' ) }}"
                        	autocomplete="off"
                        />
                    </div>
                    
                    <div class="form-group pt-1">
                    	<button type="submit" name="submit" class="btn btn-block btn-primary btn-xl">
        					{{ 'vs_users.form.resetting.new_password_button' | trans( {},'VSUsersBundle' ) }}
        				</button>
                   	</div>
             	</form>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/authentication', null, 'WebGuitarPro_VelzonSaas' ) }}
{% endblock %}  

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/authentication', null, 'WebGuitarPro_VelzonSaas' ) }}
{% endblock %}

