{% extends "base-login.html.twig" %}

{# Import Macros #}
{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}

{# Override Blocs #}
{% block title %}{{ parent() }} :: {{ 'vs_wgp.template.menu.login' | trans( {},'WebGuitarPro' ) }}{% endblock %}

{% block content %}
	<div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card mt-4">

                <div class="card-body p-4">
                    <div class="text-center mt-2">
                        <h5 class="text-primary">{{ 'vs_application.form.login.button_forgot_password' | trans( {},'VSApplicationBundle' ) }}</h5>
                        <p class="text-muted">{{ 'vs_wgp.template.reset_password_with' | trans( {},'WebGuitarPro' ) }}</p>

                    </div>

                    <div class="alert border-0 alert-warning text-center mb-2 mx-2" role="alert">
                        {{ 'vs_users.template.forgot_password_form_header' | trans( {},'VSUsersBundle' ) }}
                    </div>
                    <div class="p-2">
                        <form class="login-form" action="{{ path('vs_users_forgot_password_form') }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('forgot_password') }}" />
                            
                            <label class="form-label">{{ 'vs_users.form.forgot_password.email_label' | trans( {},'VSUsersBundle' ) }}</label>
                            <div class="mb-4">
                                <input
                                	class="form-control form-control-lg"
                                	type="email"
                                	name="email"
                                	required=""
                                	placeholder="{{ 'vs_users.form.forgot_password.email_placeholder' | trans( {},'VSUsersBundle' ) }}"
                                	autocomplete="off"
                                />
                            </div>
                            
                            <div class="text-center mt-4">
                            	<button type="submit" name="submit" class="btn btn-success w-100">
                					{{ 'vs_users.form.forgot_password.submit_button' | trans( {},'VSUsersBundle' ) }}
                				</button>
                           	</div>
                        </form>
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->

            <div class="mt-4 text-center">
                <p class="mb-0">
                    {{ 'vs_wgp.template.remember_my_password' | trans( {},'WebGuitarPro' ) }} 
                    <a href="{{ path( 'app_login' ) }}" class="fw-semibold text-primary text-decoration-underline"> 
                        {{ 'vs_users.template.reset_password_click_here' | trans( {},'VSUsersBundle' ) }} 
                    </a> 
                </p>
            </div>

        </div>
    </div>
    <!-- end row -->
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/authentication', null, 'WebGuitarPro_VelzonSaas' ) }}
{% endblock %}  

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/authentication', null, 'WebGuitarPro_VelzonSaas' ) }}
{% endblock %}
