<form action="{{ path( 'app_login' ) }}" method="post" class="px-4 py-3" id="formLogin" >
    <input type="hidden" name="_csrf_token" value="{{ csrf_token( 'authenticate' ) }}" />
    
    <div class="form-group">
        <label for="exampleDropdownFormEmail1">{{ 'vs_wgp.form.login.email' | trans( {},'WebGuitarPro' ) }}</label>
        <input type="email" name="_username" class="form-control" id="exampleDropdownFormEmail1"
            placeholder="email@example.com"
        >
    </div>
    <div class="form-group">
        <label for="exampleDropdownFormPassword1">{{ 'vs_wgp.form.login.password' | trans( {},'WebGuitarPro' ) }}</label>
        <input type="password" name="_password" class="form-control" id="exampleDropdownFormPassword1"
            placeholder="{{ 'vs_wgp.form.login.password' | trans( {},'WebGuitarPro' ) }}"
        >
    </div>
    <div class="form-group">
        <label class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name="_remember_me" />
            <span class="custom-control-label">{{ 'vs_application.form.login.remember_me' | trans( {},'VSApplicationBundle' ) }}</span>
        </label>
    </div>

    <div class="row ml-2">
        <div class="col-4"><a href="{{ path( 'vs_users_register_form' ) }}">{{ 'vs_wgp.form.login.register' | trans( {},'WebGuitarPro' ) }}</a></div>
        <div class="col-8"><a href="{{ path( 'vs_users_forgot_password_form' ) }}">{{ 'vs_wgp.form.login.forgot_password' | trans( {},'WebGuitarPro' ) }}</a></div>
    </div>
    <div class="row">&nbsp;</div>
    
    <button type="submit" class="btn btn-primary">{{ 'vs_wgp.form.login.login' | trans( {},'WebGuitarPro' ) }}</button>
</form>