{% import "@VSApplication/Macros/tree.html.twig" as vs_tree %}

{{ form_start( tabForm, {'action': path( 'vs_wgp_tablature_create' ), 'method': 'POST', 'attr': {'class': 'px-4 py-3'}} ) }}
    
    {{ form_widget( tabForm._currentUrl, {
        'value': path( app.request.attributes.get( '_route' ), app.request.attributes.get( '_route_params' ) )} )
    }}
    
    <div class="form-group">{{ form_row( tabForm.enabled ) }}</div>
    
    <div class="form-group">
        {{ form_label( tabForm.category_taxon, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget( tabForm.category_taxon, {'attr': {'class': 'form-control form-select' }, 'multiple': false}) }}
    </div>
    
    <div class="form-group">{{ form_row( tabForm.artist ) }}</div>
    <div class="form-group">{{ form_row( tabForm.song ) }}</div>
    <div class="form-group">
        <label for="tablature_form_tablature" class="col-form-label">
            {{ 'vs_wgp.form.tablature.tablature'  | trans( {},'WebGuitarPro' ) }}
        </label>
        <div class="form-field-file">
            {{ form_widget(tabForm.tablature, {'attr': {
                'class': 'form-control',
                'accept': '.gp, .gp3, .gp4, .gp5'
            }}) }}
        </div>
    </div>
    
    <div class="form-group">{{ form_widget( tabForm.btnSave ) }}</div>
{{ form_end( tabForm, {'render_rest': false} ) }}