{% import "@VSApplication/Macros/tree.html.twig" as vs_tree %}

{{ form_start( tabCategoryForm, {'action': path( 'vs_wgp_tablature_category_create' ), 'method': 'POST', 'attr': { 'id': "formTablatureCategory", 'class': 'px-4 py-3'}} ) }}
    
    {{ form_widget( tabCategoryForm._currentUrl, {
        'value': path( app.request.attributes.get( '_route' ), app.request.attributes.get( '_route_params' ) )} )
    }}
    
    <div class="form-group">
        {{ form_label( tabCategoryForm.parent, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget( tabCategoryForm.parent, {'attr': {'class': 'form-control form-select' }}) }}
    </div>
    
    <div class="form-group">
        {{ form_label( tabCategoryForm.name, null, {'label_attr': {'class': 'col-form-label'}} ) }}
        {{ form_widget( tabCategoryForm.name, {'attr': {'class': 'form-control'}} ) }}
    </div>
    
    <hr class="border-2 border-top border-primary">
    <div class="form-group mt-3">{{ form_widget( tabCategoryForm.btnSave, {'attr': {'class': 'form-control' }} ) }}</div>
{{ form_end( tabCategoryForm, {'render_rest': false} ) }}