{{ form_start( form, {'action': path( 'wgp_share_tablature_handle_form' ), 'method': 'POST', 'attr': {'class': 'px-4 py-3', 'id': 'formShareTablature'}} ) }}
    {{ form_widget( form.tablatureId, { 'value': tabId} ) }}
    {{ form_widget( form.shareId, { 'value': 0} ) }}
    
    <div class="form-group">
        {{ form_label( form.name ) }}
        
        {{ form_widget( form.name, {
            'attr': {
                'class': 'form-control',
                'data-autocompleteData': path( 'wgp_share_tablature_jqueryui_availableShares' )                
            }
        } ) }}
    </div>
    
    <div class="form-group">
        {{ form_label( form.targetUsers ) }}
        
        {{ form_widget( form.targetUsers, {
            'attr': {
                'class': 'form-control easyui-combobox',
                'data-easyuidata': path( 'wgp_share_tablature_easyui_targetUsersData' )                
            }
        } ) }}
    </div>
    
{{ form_end( form, {'render_rest': false} ) }}