<h1>{{ 'vs_users.template.forgot_password_email_header' | trans( {},'VSUsersBundle' ) }}</h1>

<p>
	{{ 'vs_users.template.forgot_password_email_text_1' | trans( {},'VSUsersBundle' ) }} <a href="{{ resetUrl|raw }}">{{ resetUrl }}</a><br />
	{{ 'vs_users.template.forgot_password_email_text_2' | trans( {},'VSUsersBundle' ) }} {{ expiresAt }}.
</p>

<p>
	{{ 'vs_users.template.forgot_password_email_text_3' | trans( {},'VSUsersBundle' ) }}
</p>

<p>
    {{ 'vs_users.template.forgot_password_email_text_4' | trans( {},'VSUsersBundle' ) }}
</p>
