{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_wgp.template.error_pages.title' | trans( {},'WebGuitarPro' ) }}{% endblock %}
{% block pageTitle %}<i class="fa fa-user-md"></i> {{ 'vs_wgp.template.error_pages.title' | trans( {},'WebGuitarPro' ) }}{% endblock %}

{% block content %}
    <div class="padding">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>{{ 'vs_wgp.template.error_pages.tablature_upload_limited_message' | trans( {},'WebGuitarPro' ) }}</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                {{ 'vs_wgp.template.error_pages.pay_for_unlimited' | trans( {},'WebGuitarPro' ) }} 
                                <a class="btnPayment"
                                    href="javascript:void(0);"
                                    data-url="{{ path( 'vs_payment_add_to_card', {'payableObjectId': 1} ) }}"
                                >
                                    {{ 'vs_wgp.template.error_pages.from_here' | trans( {},'WebGuitarPro' ) }}
                                </a> .
                            </div>
                         </div>
                     </div>
                     <div class="card-footer"></div>
                 </div>         
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {% include '@VSPayment/Pages/CreditCard/Partial/credit_card_css.html.twig' %}
    
    <style>
        a {
            color: #007bff !important;
        }
        a:hover {
            color: #007bff !important;
            text-decoration: underline !important;
        }
    </style>
{% endblock %}

