<div class="row justify-content-center">
    <div class="col-xl-9">
        <div class="row">
            {% for cat in pricingPlanCategories %}
                {% if cat.code != 'test-plans' or app_environment == 'dev' %}
                    {% if cat.plans.count() %}
                
                        {% for plan in cat.plans %}
                            {% if plan.enabled %}
                            
                                {% if app.user %}
                                    {% set currentPlan  = plan.hasActiveSubscription( subscriptions ) %}
                                    {% set planLower    = false %}
                                {% else %}
                                    {% set currentPlan  = null %}
                                    {% set planLower    = false %}
                                {% endif %}
                                
                                <div class="col-lg-4">
                                    <div class="card pricing-box">
                                        <div class="card-body p-4 m-2">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-grow-1">
                                                    <h5 class="mb-1">{{ plan.title }}</h5>
                                                    {{ plan.description | raw }}
                                                </div>
                                                <div class="avatar-sm">
                                                    <div class="avatar-title bg-light rounded-circle text-primary">
                                                        <i class="ri-book-mark-line fs-20"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pt-4">
                                                <h2>
                                                    {{ plan.price }} {{ plan.currencyCode | vs_currency_symbol }} 
                                                    <span class="fs-13 text-muted">/{{ plan.paidService.subscriptionPeriod }}</span>
                                                </h2>
                                            </div>
                                            <hr class="my-4 text-muted">
                                            <div>
                                                <div class="mt-4">
                                                    {% if currentPlan %}
                                                        <a href="javascript:void(0);" class="btn btn-danger disabled w-100">
                                                            {{ 'vs_wgp.template.your_current_plan' | trans( {},'WebGuitarPro' ) }}
                                                        </a>
                                                    {% else %}
                                                        {% if not planLower %}
                                                            <a href="javascript:void(0);"
                                                                class="btn btn-soft-success w-100 waves-effect waves-light btnChoosePlan"
                                                                data-url="{{ path( 'vs_payment_select_pricing_plan_form', {'pricingPlanId': plan.id} ) }}"
                                                            >
                                                                {{ 'vs_payment.template.pricing_plans.choose_plan' | trans( {},'VSPaymentBundle' ) }}
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
