{% extends "base.html.twig" %}

{% block head_styles %}
	{{ parent() }}
	
	<style>
		.text-secondary {
		    color: #ff407b !important;
		}
	</style>
{% endblock %}

{% block content %}
	<!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="card-header text-center">
    	<a class="navbar-brand" href="/">
    		{{ siteTitle }}
    		<!-- <img class="logo-img" src="{{ asset('assets/build/new-template/images/logo.png') }}" alt="logo"> -->
    	</a>
    </div>
    <div class="card-body">
        <form class="login-form" action="{{ path('vs_users_forgot_password_reset', {token: token}) }}" method="post">
        	<input type="hidden" name="_csrf_token" value="{{ csrf_token('change_password') }}" />
            
            <p>{{ 'vs_users.form.resetting.new_password_lable' | trans( {},'VSUsersBundle' ) }}</p>
            <div class="form-group">
                <input
                	class="form-control form-control-lg"
                	type="password"
                	name="password"
                	required="true"
                	placeholder="{{ 'vs_users.form.resetting.new_password_placeholder_pasword' | trans( {},'VSUsersBundle' ) }}"
                	autocomplete="off"
                />
            </div>
            <div class="form-group">
                <input
                	class="form-control form-control-lg"
                	type="password"
                	name="password_confirm"
                	required="true"
                	placeholder="{{ 'vs_users.form.resetting.new_password_placeholder_confirm_pasword' | trans( {},'VSUsersBundle' ) }}"
                	autocomplete="off"
                />
            </div>
            
            <div class="form-group pt-1">
            	<button type="submit" name="submit" class="btn btn-block btn-primary btn-xl">
					{{ 'vs_users.form.resetting.new_password_button' | trans( {},'VSUsersBundle' ) }}
				</button>
           	</div>
     	</form>
    </div>
    <div class="card-footer text-center">
    {#
        <span>Don't have an account? 
         	<a href="{{ path('vs_users_register_form') }}" class="text-secondary">Sign Up</a>
        </span>
    #}
    </div>
{% endblock %}
