{% extends "base.html.twig" %}

{% block head_styles %}
	{{ parent() }}
	
	<style>
		.text-secondary {
		    color: #ff407b !important;
		}
	</style>
{% endblock %}

{% block content %}
	<!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="card-header text-center">
    	<a class="navbar-brand" href="/">
    		{{ applicationTitle }}
    		<!-- <img class="logo-img" src="{{ asset('assets/build/new-template/images/logo.png') }}" alt="logo"> -->
    	</a>
    </div>
    <div class="card-body">
        <form class="login-form" action="{{ path('wct_user_forgot_password_form') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('forgot_password') }}" />
            
            <p>{{ 'vs_users.template.forgot_password_form_header' | trans( {},'VSUsersBundle' ) }}</p>
            <div class="form-group">
                <input
                	class="form-control form-control-lg"
                	type="email"
                	name="email"
                	required=""
                	placeholder="Your Email"
                	autocomplete="off"
                />
            </div>
            
            <div class="form-group pt-1">
            	<button type="submit" name="submit" class="btn btn-block btn-primary btn-xl">
					{{ 'vs_users.template.forgot_password_form_button_reset' | trans( {},'VSUsersBundle' ) }}
				</button>
           	</div>
        </form>
    </div>
    <div class="card-footer text-center">
        <span>Don't have an account? 
        	<a href="{{ path('wct_user_registration_form') }}" class="text-secondary">
				{{ 'vs_users.template.forgot_password_form_button_signup' | trans( {},'VSUsersBundle' ) }}
			</a>
        </span>
    </div>
{% endblock %}
