{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_users.template.profile_show_title' | trans( {},'VSUsersBundle' ) }}{% endblock %}
{% block pageTitle %}<i class="fa fa-user-md"></i> {{ 'vs_users.template.profile_show_title' | trans( {},'VSUsersBundle' ) }}{% endblock %}

{% block content %}
    <div class="tablatures-container" style="margin-top: 110px">
        <div class="card card-profile-form">
        	<h5 class="card-header">{{ 'vs_users.template.profile_show_title' | trans( {},'VSUsersBundle' ) }}</h5>
        	<div class="card-body profile-data">
        		<div class="tab-regular">
                    <ul class="nav nav-tabs " id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">
                            	{{ 'vs_users.template.profile_show_tab_details' | trans( {},'VSUsersBundle' ) }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="change_password-tab" data-toggle="tab" href="#change_password" role="tab" aria-controls="change_password" aria-selected="false">
                            	{{ 'vs_users.template.profile_show_tab_change_password' | trans( {},'VSUsersBundle' ) }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="subscriptions-tab" data-toggle="tab" href="#subscriptions" role="tab" aria-controls="subscription" aria-selected="false">
                                Subscriptions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity-tab" aria-selected="false">
                            	{{ 'vs_users.template.profile_show_tab_activity' | trans( {},'VSUsersBundle' ) }}
                            </a>
                        </li>
                    </ul>
            		<div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                            {# #}
                            {% include 'Pages/Profile/tab/_profile-edit-form.html.twig' %}
                        </div>
                        <div class="tab-pane fade" id="change_password" role="tabpanel" aria-labelledby="change_password-tab">
                            {% include 'Pages/Profile/tab/_profile-change_password.html.twig' with {'f': otherForms.changePasswordForm.createView} %}
                        </div>
                        <div class="tab-pane fade" id="subscriptions" role="tabpanel" aria-labelledby="subscriptions-tab">
                            {% include 'Pages/Profile/tab/_profile-subscriptions.html.twig' %}
                        </div>
                        <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
                            {% include 'Pages/Profile/tab/_profile-activity.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{# #}
{% block stylesheets %} 
    {{ parent() }}
    {{ encore_entry_link_tags( 'js/profile', null, 'WebGuitarPro_VueJs' ) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
    {{ encore_entry_script_tags( 'js/profile', null, 'WebGuitarPro_VueJs' ) }}
    {{ encore_entry_script_tags( 'js/filemanager-file-upload', null, 'WebGuitarPro_VueJs' ) }}
{% endblock %}

