{% extends "base.html.twig" %}

{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}

{% block title %}{{ parent() }} :: Tablatures{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> Tablatures{% endblock %}

{% block content %}
    <div class="tablatures-container" style="margin-top: 110px">
        <div id="messages">
            {% if error is defined %}
                <div>{{ error.messageKey|trans( error.messageData, 'security' ) }}</div>
            {% endif %}
        </div>
        <div class="card">
            <h5 class="card-header">Tablatures</h5>
            <div class="card-body">
                {% if items|length > 0 %}
                    {% include 'Pages/Tablatures/Partial/simpleTreeTable.html.twig' %}
                {% else %}
                    {{ alerts.info('sylius.ui.there_are_no_mappers_to_display'|trans) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'tablatures', null, 'WebGuitarPro_VueJs' ) }}
{% endblock %}  

{% block javascripts %}
    {{ parent() }}
{#    #}
    {{ encore_entry_script_tags( 'tablatures', null, 'WebGuitarPro_VueJs' ) }}

{% endblock %}
