<tr class="{{ rowClass }}"
    data-node-id="{% if isTab %}tab-{{ item.id }}{% else %}{{ item.id }}{% endif %}" 
    {% if parentId %}data-node-pid="{{ parentId }}"{% endif %}
>
    <td>{{ item.name }}</td>
    <td>
        <div class="btn-group">
        {% if isTab %}
            <a class="btn btn-primary mr-2"
                href="{{ url( 'tablature_read', {id: item.id} ) }}"
                title="{{ 'vs_application.template.items_index_row_action_download' | trans( {},'VSApplicationBundle' ) }}"
            >
                <i class="fas fa-download"></i>
            </a>
            
            {% if ( item.slug|length ) %}{% set tabId = item.slug %}{% else %}{% set tabId = item.id %}{% endif %}
            <a  class="btn btn-primary mr-2"
                href="{{ path( 'vs_wgp_tablature_show', {id: tabId} ) }}"
                title="Play Tablature"
            >
                <i class="fas fa-play"></i> {# Play #}
            </a>
        {% endif %}
        </div>
    </td>
</tr>

{% if item.tablatures is defined %}
    {% for tab in item.tablatures %}
        {% set rowClass = ( rowClass == 'simpleTreeTable_Row_Even' ) ? 'simpleTreeTable_Row_Odd' : 'simpleTreeTable_Row_Even' %}
        {% include 'Pages/SharedTablatures/Partial/simpleTreeTableRows.html.twig' with {'parentId': item.id, 'item': tab, 'isTab': 1} %}
    {% endfor %}
{% endif %}

