<h1>Hi! Please confirm your email!</h1>

<p>
    {{ 'vs_users.template.register_confirmation_email_text_1' | trans( {},'VSUsersBundle' ) }}<br><br>
    <a href="{{ signedUrl|raw }}">{{ 'vs_users.template.register_confirmation_email_text_2' | trans( {},'VSUsersBundle' ) }}</a>.
    {{ 'vs_users.template.register_confirmation_email_text_3' | trans( {},'VSUsersBundle' ) }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    {{ 'vs_users.template.register_confirmation_email_text_4' | trans( {},'VSUsersBundle' ) }}
</p>
