{% extends 'base.html.twig' %} 

{% block content %}
	<!-- ============================================================== -->
    <!-- signup page  -->
    <!-- ============================================================== -->
    <div class="tablatures-container" style="margin-top: 110px">
        <div class="card card-registration-form">
            <div class="card-header">
                <h3 class="mb-1">{{ 'vs_users.template.register_header_title' | trans( {},'VSUsersBundle' ) }}</h3>
                <p>{{ 'vs_users.template.register_header_description' | trans( {},'VSUsersBundle' ) }}</p>
            </div>
            <div class="card-body">
               
                {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'id': 'registration-form'} }) }}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token( 'registration' ) }}" />
                    
                    {% if form_errors( form ) is not empty %}
                        <div class="alert alert-block alert-danger fade in">
                            <button type="button" class="close close-sm" data-dismiss="alert">
                                <i class="icon-remove"></i>
                            </button>
                            <strong>Error!</strong> {{ form_errors( form ) }}
                        </div>
                    {% endif %}
                    
                    <div class="form-group">
                        {{ form_row( form.username ) }}
                    </div>
                    <div class="form-group">
                        {{ form_row( form.email ) }}
                    </div>
                    
                    <div class="form-group">
                        {{ form_row( form.prefered_locale ) }}
                    </div>
                    
                    <div class="form-group">
                        {{ form_label( form.plain_password.first, null, {'label_attr': {'class': 'col-form-label'}} ) }}
                        <div class="input-group mb-3">
                            {{ form_widget( form.plain_password.first, {'attr': {'class': 'form-control'}} ) }}
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary" id="btnGeneratePasswordRegisterForm">{{ 'vs_users.form.generate_password' | trans( {},'VSUsersBundle' ) }}</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        {{ form_row( form.plain_password.second ) }}
                    </div>
                    <div class="form-group pt-2">
                        <button class="btn btn-block btn-primary" type="submit">{{ 'vs_wgp.form.register.button_register' | trans( {},'WebGuitarPro' ) }} </button>
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" />
                            <span class="custom-control-label">
                                {{ 'vs_wgp.form.register.agreement_text' | trans( {},'WebGuitarPro' ) }} 
                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#terms-and-conditions-modal">
                                    {{ 'vs_wgp.form.register.terms_and_conditions' | trans( {},'WebGuitarPro' ) }}
                                </a>
                            </span>
                        </label>
                    </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block widgets %}    
    {% include 'Modal/terms_and_conditions.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'authentication', null, 'WebGuitarPro_ReactJs' ) }}
{% endblock %}  

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'authentication', null, 'WebGuitarPro_ReactJs' ) }}
{% endblock %}
