{% extends "base.html.twig" %}

{% block head_styles %}
	{{ parent() }}
	
	<style>
		.text-secondary {
		    color: #ff407b !important;
		}
	</style>
{% endblock %}

{% block content %}
	<!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="tablatures-container" style="margin-top: 110px">
        <div class="card card-registration-form">
            <div class="card-header text-center">
            	<h3 class="mb-1">Forgot Password Form</h3>
            </div>
            <div class="card-body">
                <form class="login-form" action="{{ path('vs_users_forgot_password_form') }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('forgot_password') }}" />
                    
                    <p>{{ 'vs_users.template.forgot_password_form_header' | trans( {},'VSUsersBundle' ) }}</p>
                    <div class="form-group">
                        <input
                        	class="form-control form-control-lg"
                        	type="email"
                        	name="email"
                        	required=""
                        	placeholder="Your Email"
                        	autocomplete="off"
                        />
                    </div>
                    
                    <div class="form-group pt-1">
                    	<button type="submit" name="submit" class="btn btn-block btn-primary btn-xl">
        					{{ 'vs_users.template.forgot_password_form_button_reset' | trans( {},'VSUsersBundle' ) }}
        				</button>
                   	</div>
                </form>
            </div>
            <div class="card-footer text-center">
                <span>Don't have an account? 
                	<a href="{{ path('vs_users_register_form') }}" class="text-secondary">
        				{{ 'vs_users.template.forgot_password_form_button_signup' | trans( {},'VSUsersBundle' ) }}
        			</a>
                </span>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'authentication', null, 'WebGuitarPro_ReactJs' ) }}
{% endblock %}  

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'authentication', null, 'WebGuitarPro_ReactJs' ) }}
{% endblock %}
