{% extends "base.html.twig" %}

{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}

{% block title %}{{ parent() }} :: {{ 'vs_wgp.template.menu.shared_to_me' | trans( {},'WebGuitarPro' ) }}{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {{ 'vs_wgp.template.menu.shared_to_me' | trans( {},'WebGuitarPro' ) }}{% endblock %}

{% block content %}
    <div class="tablatures-container" style="margin-top: 110px">
        <div class="card">
            <h5 class="card-header">{{ 'vs_wgp.template.menu.shared_to_me' | trans( {},'WebGuitarPro' ) }}</h5>
            <div class="card-body">
                {% if app.user.targetedShares|length > 0 %}
                    {% include 'Pages/SharedTablatures/Partial/simpleTreeTable.html.twig' with { 'shares': app.user.targetedShares } %}
                {% else %}
                    {{ alerts.info('sylius.ui.there_are_no_mappers_to_display'|trans) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'shared-tablatures', null, 'WebGuitarPro_AngularJs' ) }}
{% endblock %}  

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'shared-tablatures', null, 'WebGuitarPro_AngularJs' ) }}
{% endblock %}
