<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <div class="sidebar-header">
            <a href="{{ path( 'app_home' ) }}">
                <img src="{{ asset( 'build/web-guitar-pro-angularjs/images/logo.png' ) }}" width="50" height="50" />
            </a>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ms-auto">
            
                {{ knp_menu_render('mainWebGuitarPro', {'template': 'Menu/main-menu.html.twig'}) }}
                
                {% if app.user %}
                    <!--  Create Tablature Category  -->
                    <li class="nav-item dropdown btn-group">
                        <a class="nav-link dropdown-toggle topFormToggle" href="#" aria-haspopup="true" aria-expanded="false">
                            {{ 'vs_wgp.template.menu.create_tablature_category' | trans( {},'WebGuitarPro' ) }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right topForm" style="width: 300px;">
                            {% include 'Partial/tablature-category-form.html.twig' %}
                        </div>
                    </li>
                    <!--/  Create Tablature Category  -->
                    
                    <!--  Submit Tablature  -->
                    <li class="nav-item dropdown btn-group">
                        <a class="nav-link dropdown-toggle topFormToggle" href="#" aria-haspopup="true" aria-expanded="false">
                            {{ 'vs_wgp.template.menu.create_tablature' | trans( {},'WebGuitarPro' ) }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right topForm" style="width: 300px;">
                            {% if tablatureUploadLimited %}
                                <div class="alert alert-danger px-4 py-3" role="alert">
                                    <h4 class="alert-heading">{{ 'vs_wgp.template.alerts.tablature_upload_limited_error' | trans( {},'WebGuitarPro' ) }}</h4>
                                    <p>{{ 'vs_wgp.template.alerts.tablature_upload_limited_content' | trans( {},'WebGuitarPro' ) }}</p>
                                </div>
                            {% else %}
                                {% include 'Partial/tablature-form.html.twig' %}
                            {% endif %}
                        </div>
                    </li>
                    <!--/  Submit Tablature  -->
                    
                    <!--  User Profile  -->
                    <li class="nav-item dropdown btn-group">
                        <a class="nav-link dropdown-toggle"
                            href="#"
                            data-bs-toggle="dropdown"
                            data-bs-auto-close="outside"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            {{ 'vs_wgp.template.menu.profile' | trans( {},'WebGuitarPro' ) }}
                        </a>
                        
                        {{ knp_menu_render('profile', {'template': '@VSApplication/Menu/profile.html.twig'}) }}
                    </li>
                    <!--/ User Profile  -->
                    
                {% else %}
                    <!--  Registration  -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path( 'vs_users_register_form' ) }}">
                            {{ 'vs_wgp.form.login.register' | trans( {},'WebGuitarPro' ) }}
                        </a>
                    </li>
                    <!--/  Registration  -->
                    
                    <!--  User Login  -->
                    <li class="nav-item dropdown btn-group">
                        <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'vs_wgp.template.menu.login' | trans( {},'WebGuitarPro' ) }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-login-form">
                            {% include 'Partial/login-form.html.twig' %}
                        </div>
                    </li>
                    <!--/ User Login  -->
                    
                    <li class="nav-item ml-2">&nbsp;</li>
                    <li class="nav-item ml-2">&nbsp;</li>
                    
                    {{ vs_widget_render( 'webguitarpro-layout', ['application-menu-locales'] ) }}
                    
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
