<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <div class="sidebar-header">
            <img src="/assets/img/logo.png" width="50" height="50" />
        </div>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
            
            {% if demo_menue %}
            	<li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="btnMyTabs" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">DEMO Pages</a>
                    <div class="dropdown-menu dropdown-menu-right scrollable-menu" aria-labelledby="btnMyTabs">
                        <div class="sm-main-nav" >
                            <a class="dropdown-item" href="{{ path( 'demo_player_working', {'id': demo_tab_id} ) }}" target="_blank">Working Demo</a><hr>
                            <a class="dropdown-item" href="{{ path( 'demo_player_latest', {'id': demo_tab_id} ) }}" target="_blank">Latest From GitHub</a><hr>
                            <a class="dropdown-item" href="{{ path( 'demo_player_encore', {'id': demo_tab_id} ) }}" target="_blank">Encore Build</a><hr>
                        </div>
                    </div>
                </li>
             {% endif %}
            </ul>   
                
            {% if app.user %}
            	<li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="btnMyTabs" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Tabs</a>
                    <div class="dropdown-menu dropdown-menu-right scrollable-menu" aria-labelledby="btnMyTabs">
                        <!-- My tabs list -->
                        <div class="sm-main-nav" >
                            {% for tab in app.user.tablatures %}
                                <a class="dropdown-item" href="{{ path( 'tablature_player', {'id': tab.id} ) }}">{{ tab.artist }} - {{ tab.song }}</a><hr>
                            {% endfor %}
                        </div>
                    </div>
                </li>
                
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="btnFavorites" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Favorites</a>
                    <div class="dropdown-menu dropdown-menu-right scrollable-menu" aria-labelledby="btnFavorites">
                        <!-- Favorite tabs list -->
                        <div class="sm-main-nav" >
                            {% for tab in app.user.favorites %}
                                <a class="dropdown-item" href="{{ path( 'tablature_player', {'id': tab.id} ) }}">{{ tab.artist }} - {{ tab.song }}</a><hr>
                            {% endfor %}
                        </div>
                    </div>
                </li>
                
                <!--  Submit Tab  -->
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Submit Tab</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {{ form_start( tabForm, {'action': path( 'tablatures_new' ), 'method': 'POST', 'attr': {'class': 'px-4 py-3'}} ) }}
                            {{ form_widget( tabForm._token ) }}
                            {{ form_widget( tabForm._currentUrl, {
                                'value': path( app.request.attributes.get( '_route' ), app.request.attributes.get( '_route_params' ) )} )
                            }}
                                
                            <div class="form-group">{{ form_row( tabForm.artist ) }}</div>
                            <div class="form-group">{{ form_row( tabForm.song ) }}</div>
                            <div class="form-group">{{ form_row( tabForm.tablature ) }}</div>
                            
                            <div class="form-group">{{ form_widget( tabForm.btnSave ) }}</div>
                        {{ form_end( tabForm ) }}
                    </div>
                </li>
                <!--/  Submit Tab  -->
            	<li class="nav-item">
                    <a class="nav-link" href="{{ path( 'logout' ) }}">Logout</a>
                </li>
            {% else %}
                <!--  User Login  -->
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
                    <div class="dropdown-menu dropdown-menu-right">
						<form action="{{ path( 'fos_user_security_check' ) }}" method="post" class="px-4 py-3" id="formLogin" >
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token( 'authenticate' ) }}" />
                            
                        	<div class="form-group">
                          		<label for="exampleDropdownFormEmail1">Email address</label>
                          		<input type="email" name="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                        	</div>
                        	<div class="form-group">
                          		<label for="exampleDropdownFormPassword1">Password</label>
                          		<input type="password" name="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                        	</div>
                        
                        	<button type="submit" class="btn btn-primary">Login</button>
                      	</form>
                	</div>
                </li>
                <!--/ User Login  -->
            {% endif %}
            </ul>
        </div>
    </div>
</nav>
