{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: Latest Tablatures{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> Latest Tablatures{% endblock %}

{% block content %}
    <div class="tablatures-container" style="margin-top: 110px">
        <div id="messages">
            {% if error is defined %}
                <div>{{ error.messageKey|trans( error.messageData, 'security' ) }}</div>
            {% endif %}
        </div>
        <div class="card">
            <h5 class="card-header">Tablatures</h5>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Artist</th>
                            <th>Song</th>
                            <th>Play</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for t in tabs %}
                        <tr>
                            <td>{{ t.artist }}</td>
                            <td>{{ t.song }}</td>
                            <td>
                                {% if ( t.slug|length ) %}{% set tabId = t.slug %}{% else %}{% set tabId = t.id %}{% endif %}
                                <a href="{{ path( 'vs_wgp_tablature_show', {id: tabId} ) }}" class="btn btn-primary">Play</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

