{{ form_start( form, {'action': path( 'wgp_share_tablature_my_shares_handle_edit_share_form' ), 'method': 'POST', 'attr': {'class': 'px-4 py-3', 'id': 'formEditShare'}} ) }}
    {{ form_widget( form.id, { 'value': oShare.id} )  }}
    
    <div class="form-group">
        {{ form_label( form.targetUsers ) }}
        
        {{ form_widget( form.targetUsers, {
            'attr': {
                'class': 'form-control easyui-combobox',
                'data-easyuidata': path( 'wgp_share_tablature_easyui_targetUsersData' )
            }
        } ) }}
    </div>
    
    <div class="form-group">
        {{ form_label( form.tablatures ) }}
        
        {{ form_widget( form.tablatures, {
            'attr': {
                'class': 'form-control easyui-combotree',
                'data-easyuidata': path( 'wgp_share_tablature_easyui_tablaturesData' )
            }
        } ) }}
    </div>
    
{{ form_end( form, {'render_rest': false} ) }}