{% extends "base-login.html.twig" %}

{# Import Macros #}
{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}

{# Override Blocs #}
{% block title %}{{ parent() }} :: {{ 'vs_wgp.template.menu.login' | trans( {},'WebGuitarPro' ) }}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card mt-4">

                <div class="card-body p-4">
                    <div class="text-center mt-2">
                        <h5 class="text-primary">{{ 'vs_wgp.template.menu.login' | trans( {},'WebGuitarPro' ) }}</h5>
                        {#<p class="text-muted">{{ 'orfey.template.login.sign_in_to_continue' | trans( {},'OrfeyBilling' ) }}</p>#}
                    </div>
                    
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <strong> {{ error.messageKey|trans(error.messageData, 'security') }} </strong>
                        </div>
                    {% endif %}
                    
                    <div class="p-2 mt-4">
                        <form method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                            
                            <div class="mb-3">
                                <label for="username" class="form-label">
                                    {{ 'vs_application.form.login.username' | trans( {},'VSApplicationBundle' ) }}
                                </label>
                                <input type="text" class="form-control" autofocus id="username"
                                    placeholder="{{ 'vs_application.form.login.username_placeholder' | trans( {},'VSApplicationBundle' ) }}"
                                    name="_username" value="{{ last_username }}"
                                />
                            </div>

                            <div class="mb-3">
                                <div class="float-end">
                                    <a href="{{ path( 'vs_users_forgot_password_form' ) }}" class="text-muted">
                                        {{ 'vs_application.form.login.button_forgot_password' | trans( {},'VSApplicationBundle' ) }}
                                    </a>
                                </div>
                                <label class="form-label" for="password-input">
                                    {{ 'vs_application.form.login.password' | trans( {},'VSApplicationBundle' ) }}
                                </label>
                                <div class="position-relative auth-pass-inputgroup mb-3">
                                    <input type="password" class="form-control pe-5 password-input"
                                        placeholder="{{ 'vs_application.form.login.password_placeholder' | trans( {},'VSApplicationBundle' ) }}"
                                        id="password-input" name="_password"
                                    />
                                    <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon">
                                        <i class="ri-eye-fill align-middle"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="auth-remember-check">
                                <label class="form-check-label" for="auth-remember-check">
                                    {{ 'vs_application.form.login.remember_me' | trans( {},'VSApplicationBundle' ) }}
                                </label>
                            </div>

                            <div class="mt-4">
                                <button class="btn btn-success w-100" type="submit">
                                    {{ 'vs_application.form.login.button_login' | trans( {},'VSApplicationBundle' ) }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
    </div>
    <!-- end row -->
{% endblock %}
